<div class="background" *ngIf="!loggedIn;else formm">
    <toaster #toaster></toaster>
    <div class="container">
        <loader #loader></loader>
        <mat-card class="card-container">
            <div class="wrapper">
                <h3>{{'label_password_change' | translate}}</h3>
                <ng-container *ngTemplateOutlet="formm">
                </ng-container>
            </div>
        </mat-card>
    </div>
</div>

<ng-template #formm>
    <form [formGroup]="form">
        <mat-form-field *ngIf="!isAdmin">
            <input matInput type="password" name="password" placeholder="{{'label_password' | translate}}"
                formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="form.getServerError('password')">
                {{form.getServerError('password')}}
            </mat-error>
            <mat-error *ngIf="form.hasError('password')">
                {{'password_required' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput name="newPassword" placeholder="{{'label_new_password' | translate}}"
                formControlName="newPassword">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="form.getServerError('newPassword')">
                {{form.getServerError('newPassword')}}
            </mat-error>
            <mat-error *ngIf="form.hasError('newPassword')">
                {{'new_password_required' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput name="newPasswordRepeat"
                placeholder="{{'label_new_password_repeat' | translate}}" formControlName="newPasswordRepeat">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="form.getServerError('newPasswordRepeat')">
                {{form.getServerError('newPasswordRepeat')}}
            </mat-error>
            <mat-error *ngIf="form.hasError('newPasswordRepeat')">
                {{'new_password_repeat_required' | translate}}
            </mat-error>
        </mat-form-field>
        <div mat-dialog-actions class="button-group">
            <button type="button" mat-raised-button color="primary"
                (click)="cancel()">{{'label_cancel' | translate}}</button>
            <button mat-raised-button color="primary" (click)="onConfirm()">{{'label_yes' | translate}}</button>
        </div>
    </form>
</ng-template>