<div class="form-actions">
    <button type="button" (click)="addDetail()" mat-raised-button *ngIf="!areControlsDisabled"
        matTooltip="{{'tooltip_add_product_service' | translate}}"
        color="primary">{{'btn_add_product_service' | translate}}</button>
</div>
<data-grid #documentDetailsAction [displayedColumns]="displayedColumns" matSort [gridName]="gridName"
    [dataSource]="dataSource" [formArray]="formArray" [serverSidePagination]="false">

    <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{requiredLabel('label_employee' | translate)}}
        </th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroup]="element">
            <mat-form-field>
                <mat-select formControlName="employeeId" [compareWith]="selectlistCompare"
                    [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let emp of employees" [value]="emp.id">
                        {{emp.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="element.getServerError('employeeId')">
                    {{element.get('employee').getServerError('employeeId')}}
                </mat-error>
                <mat-error *ngIf="element.hasError('employeeId')">
                    {{'employee_required' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{requiredLabel('label_product_or_service' | translate)}}
        </th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroup]="element">
            <mat-form-field>
                <mat-select formControlName="productId" [compareWith]="selectlistCompare" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let prod of element.get('availableProducts').value" [value]="prod.id">
                        {{prod.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="element.getServerError('productId')">
                    {{element.getServerError('productId')}}
                </mat-error>
                <mat-error *ngIf="element.hasError('productId')">
                    {{'product_required' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{requiredLabel('label_quantity' | translate)}}
        </th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroup]="element">
            <mat-form-field>
                <input name="quantity{{index}}" formControlName="quantity" matInput type="number"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="element.getServerError('quantity')">
                    {{element.getServerError('quantity')}}
                </mat-error>
                <mat-error *ngIf="element.hasError('quantity')">
                    {{'quantity_required' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{requiredLabel('label_price' | translate)}}
        </th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroup]="element">
            <mat-form-field>
                <input name="price{{index}}" #price formControlName="price" matInput type="number"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="element.getServerError('price')">
                    {{element.getServerError('price')}}
                </mat-error>
                <mat-error *ngIf="element.hasError('price')">
                    {{'price_required' | translate}}
                </mat-error>
                <mat-error *ngIf="element.hasError('price', 'min')">
                    {{'price_must_be_greater_then_zero' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{requiredLabel('label_discount' | translate)}}
        </th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroup]="element">
            <mat-form-field>
                <input name="discount{{index}}" formControlName="discount" matInput type="number"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="element.getServerError('discount')">
                    {{element.getServerError('discount')}}
                </mat-error>
                <mat-error *ngIf="element.hasError('discount')">
                    {{'discount_required' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="priceWithDiscount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{requiredLabel('label_price_with_discount' | translate)}}
        </th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroup]="element">
            <mat-form-field>
                <input name="priceWithDiscount{{index}}" formControlName="priceWithDiscount" matInput type="number"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="element.getServerError('priceWithDiscount')">
                    {{element.getServerError('priceWithDiscount')}}
                </mat-error>
                <mat-error *ngIf="element.hasError('priceWithDiscount')">
                    {{'price_with_discount_required' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-template #actions let-product let-index="index">
        <button type="button" (click)="deleteDetail(index)" mat-icon-button
            matTooltip="{{'tooltip_delete' | translate}}">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-template>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</data-grid>