

<!-- <mat-card *ngFor="let item of data">
    
    <mat-card-header>
        {{item.date | date :'HH:mm' }}
      </mat-card-header>
      <mat-card-content>
        {{item.customer.customerName}}
      </mat-card-content>
</mat-card> -->
<data-grid #calendarDetailsGrid [displayedColumns]="displayedColumns" matSort class="data-grid"
    [serverSidePagination]="false" [gridName]="'calendarDetailsGrid'" [highlightPreviousVisitedRow]="true"
    [onRowClickLink]="onRowClickLink">

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label_time' | translate}}</th>
        <td mat-cell *matCellDef="let item" class="slider">
            {{item.date | date :'HH:mm' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="{{col}}" *ngFor="let col of matColumnsDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{('label' + getNestedPropName(col).insertStringBetweenUpper('_')) | translate}}</th>
        <td mat-cell *matCellDef="let item"> {{getNestedObjProp(item, col)}} </td>
    </ng-container>

    <ng-template #actions let-item let-index="index">
        <button mat-icon-button matTooltip="{{'tooltip_view' | translate}}"
            (click)="navigateToAction('/view/' + item.id)">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-icon-button (click)="navigateToAction('/edit/' + item.id)"
            matTooltip="{{'tooltip_edit' | translate}}">
            <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteDetail(item.id)" matTooltip="{{'tooltip_delete' | translate}}">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-template>

    <mat-paginator>
    </mat-paginator>

</data-grid>