.button-group {
    display: block;
    text-align: right;
    padding-right: 0.3rem;
    padding-top: 1rem !important;
    padding-bottom: 1.4rem;
}

.wrapper {
    width: 30rem;
    position: relative;
    display: table-cell;
}

.wrapper .title-wrapper {
    background-color: #3f51b5;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
    padding-top: 0.2rem;
    color: white;
    height: 40px;
}

.content {
    padding: 2rem;
    padding-top: 0.6rem !important;
    padding-bottom: 0rem !important;
    height: auto;
}
