<loader #loader></loader>
<div class="wrapper">
    <div class="title-wrapper mat-primary-color">
        <h1 mat-dialog-title>{{data.title | translate}}</h1>
    </div>
    <div mat-dialog-content class="content" [formGroup]="form">
        <div class="form-row row-actions" *ngFor="let field of fields">
            <ng-container [ngSwitch]="field.controlType">
                <mat-form-field *ngSwitchCase="controlType.Input">
                    <input type="text" [formControl]="form.get(field.name)" matInput placeholder="{{'label' + getNestedPropName(field.name).insertStringBetweenUpper('_') | translate}}">
                    <mat-error *ngIf="form?.getServerError(getNestedPropName(field.name))">
                        {{form.getServerError(getNestedPropName(field.name))}}
                    </mat-error>
                    <mat-error *ngIf="form?.hasError(getNestedPropName(field.name))">
                        {{getNestedPropName(field.name).insertStringBetweenUpper('_') + 'required' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="controlType.NumberInput">
                    <input type="number" [formControl]="form.get(field.name)" matInput placeholder="{{'label' + getNestedPropName(field.name).insertStringBetweenUpper('_') | translate}}">
                    <mat-error *ngIf="form?.getServerError(getNestedPropName(field.name))">
                        {{form.getServerError(getNestedPropName(field.name))}}
                    </mat-error>
                    <mat-error *ngIf="form?.hasError(getNestedPropName(field.name))">
                        {{getNestedPropName(field.name).insertStringBetweenUpper('_') + 'required' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-checkbox *ngSwitchCase="controlType.Toggle" class="active-checkbox" 
            [formControl]="form.get(field.name)">{{'label' + getNestedPropName(field.name).insertStringBetweenUpper('_') | translate}}</mat-checkbox>
            </ng-container>
            <!-- <mat-form-field *ngIf="isInput(field.controlType)">
                <input type="{{field.controlType == 1 ? 'number' : 'text'}}" [formControl]="form.get(field.value)" matInput placeholder="{{'label' + field.label.insertStringBetweenUpper('_') | translate}}">
                <mat-error *ngIf="form?.getServerError(field.value)">
                    {{form.getServerError(field.value)}}
                </mat-error>
                <mat-error *ngIf="form?.hasError(field.value)">
                    {{field.label.insertStringBetweenUpper('_') + 'required' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-checkbox *ngIf="isToggle(field.controlType)" class="active-checkbox" 
            [formControl]="form.get(field.value)">{{'label' + field.label.insertStringBetweenUpper('_') | translate}}</mat-checkbox> -->
        </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions class="button-group">
        <button type="button" mat-raised-button color="primary"
            (click)="onDecline()">{{'label_cancel' | translate}}</button>
        <button [disabled]="isConfirmed" mat-raised-button color="primary"
            (click)="onConfirm()">{{'label_yes' | translate}}</button>
    </div>
</div>