.form-actions {
    text-align: -webkit-right;
    padding-bottom: 0.4rem;
}

::ng-deep .center .mat-sort-header-container {
    place-content: center;
}

::ng-deep .center-cell {
    text-align: center;
}