<loader #loader></loader>
<div class="wrapper">
  <div class="title-wrapper mat-primary-color">
    <h1 mat-dialog-title>{{data.title | translate}}</h1>
  </div>
  <div mat-dialog-content class="content">
    <p>{{data.text | translate}}</p>
    <ng-container #form></ng-container>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="button-group">
    <!-- <button type="button" mat-raised-button color="primary" (click)="onDecline()">{{'label_cancel' | translate}}</button> -->
    <button type="submit"  #confirmButton [disabled]="isConfirmed" mat-raised-button color="primary" (click)="onConfirm()">{{'label_yes' | translate}}</button>
  </div>
</div>