<div class="background">
    <toaster #toaster></toaster>
    <div class="container">
        <loader #loader></loader>
        <mat-card class="card-container">
            <div class="wrapper">
                <h3>{{'label_forgotten_password' | translate}}</h3>
                <form [formGroup]="form">
                    <mat-form-field>
                        <input matInput name="Username" placeholder="{{'label_username' | translate}}"
                            formControlName="userName" #username>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                        <mat-error *ngIf="form.getServerError('userName')">
                            {{form.getServerError('userName')}}
                        </mat-error>
                        <mat-error *ngIf="form.hasError('userName')">
                            {{'user_name_required' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput name="email" type="email"
                            placeholder="{{'label_email' | translate}}"
                            formControlName="email">
                        <mat-icon matSuffix>alternate_email</mat-icon>
                        <mat-error *ngIf="form.getServerError('email')">
                            {{form.getServerError('email')}}
                        </mat-error>
                        <mat-error *ngIf="form.hasError('email')">
                            {{'email_required' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.hasError('email', 'email')">
                            {{'not_valid_format' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <div mat-dialog-actions class="button-group">
                        <button type="button" mat-raised-button color="primary" (click)="onDecline()">{{'label_cancel' | translate}}</button>
                        <button mat-raised-button color="primary" (click)="onConfirm()">{{'label_yes' | translate}}</button>
                      </div>
                </form>
            </div>
        </mat-card>
        <ng-template #passChange>
        </ng-template>
    </div>
</div>