<div class="background">
    <toaster #toaster></toaster>
    <div class="container">
        <loader #loader></loader>
        <div class="login" *ngIf="!expiredPassword">
            <mat-card class="card-container register">
                <div class="wrapper">
                    <button [routerLink]="['/registration']"
                        mat-raised-button>{{'label_register_now' | translate: selectedCulture}}</button>
                </div>
            </mat-card>
            <mat-card class="card-container">
                <div class="wrapper">
                    <!-- <div class="logo">
                        <img [src]="logoImage">
                    </div> -->
                    <h3>{{'label_login' | translate: selectedCulture}}</h3>
                    <form [formGroup]="loginForm">
                        <mat-form-field>
                            <input matInput name="Username" placeholder="{{'label_username' | translate: selectedCulture}}"
                                formControlName="userName" #username>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="Password" type="password"
                                placeholder="{{'label_password' | translate: selectedCulture}}" formControlName="password">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'label_language' | translate: selectedCulture}}</mat-label>
                            <mat-select formControlName="cultureId">
                                <mat-select-trigger>
                                    <span class="{{selectedCulture?.flag}}"></span>
                                    {{selectedCulture?.value}}
                                </mat-select-trigger>
                                <mat-option *ngFor="let culture of cultures" [value]="culture.cultureId">
                                    <span class="{{culture.flag}}"></span>
                                    {{culture.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button type="submit" mat-raised-button color="primary"
                                (click)="login()">{{'btn_login' | translate: selectedCulture}}</button>
                            <button class="btn-forgotten-password" mat-button [disabled] (click)="forgottenPassword()"
                                color="primary">{{'label_forgotten_password' | translate: selectedCulture}}</button>
                        </div>
                    </form>
                </div>
            </mat-card>
        </div>
        <ng-template #passChange>
        </ng-template>
    </div>
</div>