<!-- <div *ngIf="toolbarFullWidth">
    <ng-container *ngTemplateOutlet="header">
    </ng-container>
</div> -->
<!-- <mat-sidenav-container [class.toolbarFullWidth]="toolbarFullWidth">
    <mat-sidenav class="sidenav" #sidenav mode="side" [class.toolbarFullWidth]="toolbarFullWidth" [(opened)]="sidebarOpened"> -->
        <mat-toolbar class="toolbar" color="primary">
            <a mat-icon-button [routerLink]="['/home']" class="anchor-title"><img [src]="logoImage"></a>
            <h3>{{companyName}}</h3>
            <span class="spacer"></span>
            <button mat-icon-button (click)="menuToggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="notifications" (click)="openNotifications()">
                <mat-icon [matBadgeHidden]="getNotificationNumber() === 0" [matBadge]="getNotificationNumber()"
                    matBadgeColor="warn" matSuffix>notifications</mat-icon>
            </button>
            <mat-menu #notifications class="notification-menu">
                <div class="notification-menu-label">
                    <h4>{{'label_notifications' | translate}}</h4>
                    <button (click)="$event.stopPropagation();clearToasterNotifications()" mat-icon-button
                        matTooltip="{{'tooltip_clear_notifications' | translate}}">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
                <progress-loader></progress-loader>
                <button (click)="viewNotification(n.urlPath)" mat-menu-item color="primary" matTooltip="{{n.message}}"
                    class="notification" *ngFor="let n of notificationsArray">
                    <div class="text-overflow">
                        <mat-icon [ngClass]="getStatusCode(n.status)">{{getNotificationIcon(n.status)}}</mat-icon>
                        <span class="message">{{n.message}}</span>
                    </div>
                    <span class="time">{{n.time | date :'HH:mm' }}</span>
                </button>
            </mat-menu>
    
            <button mat-icon-button [matMenuTriggerFor]="themeMenu">
                <mat-icon>format_color_fill</mat-icon>
            </button>
            <mat-menu #themeMenu="matMenu">
                <button [ngClass]="{'highlight' : theme.active}" mat-menu-item *ngFor="let theme of themes"
                    (click)="changeTheme(theme)">
                    <span>{{theme.name}}</span>
                </button>
            </mat-menu>
    
    
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>perm_identity</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item disabled class="current-user">
                    <span>{{loggedUser}}</span>
                </button>
                <button mat-menu-item (click)="changePass()">
                    <mat-icon>vpn_key</mat-icon>
                    <span>{{'btn_change_password' | translate}}</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>{{'btn_logout' | translate}}</span>
                </button>
            </mat-menu>
        </mat-toolbar>
<mat-sidenav-container>
    <!-- [(opened)]="sidebarOpened" -->
    <mat-sidenav [opened]="true" class="sidenav" #sidenav mode="side" [class.sidenavClosed]="!sidebarOpened">
        <mat-nav-list>
            <div *ngFor="let menu of menus" class="menu-row">
                <mat-list-item  routerLinkActive="list-item-active" [routerLink]="menu.url"
                    *ngIf="(!menu.children || menu.children.length === 0) && menu.active; else hasChildren">
                    <mat-icon>{{menu.image}}</mat-icon>
                    <label>{{menu.code | translate}}</label>
                </mat-list-item >
                <ng-template #hasChildren>
                    <mat-list-item  *ngIf="menu.active" routerLinkActive="list-item-active"
                        (click)="menu.expanded = !menu.expanded">
                        <mat-icon matSuffix> {{menu.image}} </mat-icon>
                        <label>{{menu.code | translate}}</label>
                        <span fxFlex>
                            <span fxFlex></span>
                            <mat-icon [@indicatorRotate]="menu.expanded ? 'expanded': 'collapsed'">
                                expand_more
                            </mat-icon>
                        </span>
                    </mat-list-item >
                </ng-template>
                <div [class.expand]="menu.expanded" class="menu-row submenu">
                    <mat-list-item  routerLinkActive="list-item-active"
                        [routerLink]="child.url" *ngFor="let child of menu.children"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon matSuffix> {{child.image}} </mat-icon>
                        <label>{{child.code | translate}}</label>
                    </mat-list-item >
                </div>
            </div>
		</mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content [class.sidenavClosed]="!sidebarOpened">
        <!-- <div *ngIf="!toolbarFullWidth">
            <ng-container *ngTemplateOutlet="header">
            </ng-container>
        </div> -->
        <form-layout>
        </form-layout>
    </mat-sidenav-content>
</mat-sidenav-container>
