<div id="calendar-card">
  <!-- <div class="form-row row-actions" autocomplete="off">
    <ng-container *ngTemplateOutlet="filters">
    </ng-container>
  </div> -->
  <div>
    <div class="calendar-labels" autocomplete="off">
      <span class="date">{{date}}</span>
      <div class="date-arrows">
        <button mat-icon-button (click)="previousMonth()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="nextMonth()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="calendar">
      <mat-grid-list cols="7" [rowHeight]="rowHeight">
        <mat-grid-tile *ngFor="let day of days" [colspan]="1" [rowspan]="1" class="calendar-header-tile">
          <span>{{(day | translate)[0]}}</span>
          <span>{{day | translate}}</span>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="7" [rowHeight]="rowHeight">
        <mat-grid-tile *ngFor="let tile of tiles; let i = index" class="mat-grid-tile calendar-tile"
          [matBadge]="tile.details.length" matBadgeColor="accent" [matBadgeHidden]="tile.details.length === 0"
          (click)="openTilePreview(tile)" [ngClass]="{
              'not-current-month' : !tile.currentMonth, 
              'highlight' : tile.isToday,
              'active-calendar-tile' : opened?.day == tile.day && opened?.month == tile.month
            }">
          {{tile.day}}
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
  <div class="data-grid">
    <day-details (deleteDetail)="deleteDetail.emit($event)" [displayedColumns]="displayedColumns"></day-details>
  </div>
</div>