.header {
    display: flex;
}

.date {
    align-self: center;
}

.date-arrows {
    width: 50%;
    text-align-last: right;
}

.date-arrows button {
    text-align-last: center;
}

.not-current-month {
    opacity: 0.5;
}

.mat-grid-tile {
    border: 1px solid rgba(0, 0, 0, 0);
    border-style: solid;
    display: block;
    position: absolute;
    overflow: inherit;
    cursor: pointer;
}

.active-calendar-tile, 
.calendar-tile:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-style: solid;
}

::ng-deep mat-grid-tile > .mat-badge-content {
    position: sticky;
    
}
/* NEW */
.data-grid {
    overflow: auto;
}


mat-card-content {
    height: fit-content;
}

.calendar-labels {
    display: flex;
}

.calendar-labels span {
    width: 65%;
    text-align: right;
}

mat-card-content {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.card {
    margin-right: 0rem !important;
}

/* #calendar-card > * {
    width: 50%;
    height: 100%;
} */
::ng-deep.calendar-header-tile figure > *:first-child {
    display:none;
}
::ng-deep.calendar-header-tile figure > *:last-child {
    display: flex;
}
@media only screen and (max-width: 1000px) {
    ::ng-deep.calendar-header-tile figure > *:first-child {
        display: flex !important;
    }
    ::ng-deep.calendar-header-tile figure > *:last-child {
        display:none;
    }
}

::ng-deep.mat-badge-content {
    position: initial;
}

#calendar-card {
    /* height: 80%;

    display: flex;
    width: 100%; */

    height: 91%;
    display: inline-flex;
    width: 100%;
}

#calendar-card > * {
    width: 50%;
    padding: 0.2rem;
}

@media only screen and (max-width: 673px) {
    #calendar-card {
        height: 80%;
    
        display: block;
        width: 100%;
    }
    
    #calendar-card > * {
        width: 100%;
    }
    .data-grid {
        margin-top: 1rem;
    }
}